---
title: Archive
layout: default
description: "It's cold in the archives, and there's nobody there. I belong in the archives. I am cold too."
header-img: "img/archive.jpg"
---

<!-- Page Header -->
{% include intro-header.html type='page' short=true %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Left column (2/3 width) -->
    <div class="col-md-8">
      <!-- Tags (as filter) -->
      <div id="tag_cloud" class="tags tags-sup js-tags">
        <a class="tag-button--all" data-encode="">
          Show All
          {% assign post_count = site.posts where_exp: "item", "not item.categories contains 'individuals'" size %}
        </a>

        {% capture tags %}
        {% for tag in site.tags %}
        <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}"
          data-encode="{{ tag[0] | strip | url_encode }}" class="tag-button" title="{{ tag[0] }}"
          rel="{{ tag[1].size }}">
          {{ tag[0] }}
          <sup>{{ tag[1].size }}</sup>
        </a>__SEPERATOR__
        {% endfor %}
        {% endcapture %}
        {{ tags | split: '__SEPERATOR__' | sort }}
      </div>

      <!-- Archive Posts -->
      <div class="mini-post-list js-result d-none">
        {% for post in site.posts %}
        {% unless post.categories contains 'individuals' %}
          {% assign _tags = '' %}
          {% for tag in post.tags %}
            {% assign _tag_encode = tag | strip | url_encode %}
            {% if forloop.last %}
              {% assign _tags = _tags | append: _tag_encode %}
            {% else %}
              {% assign _tags = _tags | append: _tag_encode | append: ',' %}
            {% endif %}
          {% endfor %}

          {% assign _currentdate = post.date | date: '%Y' %}
          {% if _currentdate != _date %}
            {% unless forloop.first %}</section>{% endunless %}
            <section>
              <span class="fa listing-seperator">
                <span class="tag-text">{{ _currentdate }}</span>
              </span>
              {% assign _date = _currentdate %}
          {% endif %}

          <div class="post-preview item" data-tags="{{ _tags }}">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% endif %}
            </a>
            <hr>
          </div>
          {% if forloop.last %}</section>{% endif %}
        {% endunless %}
        {% endfor %}
      </div>
    </div>

    <!-- Right column (1/3 width) -->
    <div class="col-md-4">
      <h3>Individuals</h3>
      <!-- Individual Tags -->
      <div id="individual_tag_cloud" class="tags tags-sup js-tags">
        <a class="tag-button--all" data-encode="">
          Show All
          <sup>{{ site.posts | where: "categories", "individuals" | size }}</sup>
        </a>

        {% assign individual_posts = site.posts | where: "categories", "individuals" %}
        {% capture individual_tags %}
        {% for post in individual_posts %}
          {% for tag in post.tags %}
            <a data-encode="{{ tag | strip | url_encode }}" class="tag-button" title="{{ tag }}">
              {{ tag }}
              <sup>{{ site.tags[tag] | size }}</sup>
            </a>__SEPERATOR__
          {% endfor %}
        {% endfor %}
        {% endcapture %}
        {{ individual_tags | split: '__SEPERATOR__' | uniq }}
      </div>

      <!-- Individual Posts -->
      {% for post in site.posts %}
        {% if post.categories contains 'individuals' %}
          <div class="post-preview item">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% endif %}
            </a>
            <hr>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>